#sign-in-section
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#sign-in-card
{
    width: 380px;
}

#sign-in-options
{
    display: flex;
    justify-content: space-between;
}

#auth-no-account
{
    margin-top: 30px;
    text-align: center;
}