#sharing-sessions-list-container {
    width: 400px;
    height: 100%;
    overflow: auto;
    margin-left: 40px;
    border: 1px solid rgba(0, 0, 0, .1);
    position: relative;
    border-radius: 4px;
}

#sharing-sessions-list-header
{
    background: white;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, .1);
    position: absolute;
    width: 100%;
    height: 36px;
    top: 0;
}

.list-card
{
    width: 100%;
    padding: 8px;
}

#sharing-sessions-list-body
{
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
    height: 100%;
    padding-top: 40px;
    box-sizing: border-box;
}

.list-card-item
{
    display: flex;
    flex-direction: row;
    gap: 12px
}

.list-card-item-details
{
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex: 1;
}


.list-card-item-row
{
    display: flex;
    justify-content: space-between;
}

