#sharing-details
{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#sharing-details input
{
    flex: 1;
}

#sharing-session-initiation-taps
{
    min-height: 400px;
    padding-top: 16px;
}

#shading-session-document-cards
{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.shading-session-document-card
{
    flex: 1
}

#dialog-title
{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

#dialog-title-1
{
    display:flex;
    justify-content: space-between;
}

#session-details-tap
{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

#sharing-options-tap-content
{
    display: flex;
    gap: 16px;
    flex-direction: column;
}