
#sign-up-completion-form
{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#auth-has-account
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

}

#sign-up-successful-section
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
}